<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="co.ahuskano.something">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="co.ahuskano.something.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icone"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:configChanges="keyboardHidden|orientation|screenSize"

            android:name=".activitys.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity             android:configChanges="keyboardHidden|orientation|screenSize"
            android:name=".activitys.MainActivity"/>
        <activity             android:configChanges="keyboardHidden|orientation|screenSize"
            android:name=".activitys.LogInActivity"/>
        <activity             android:configChanges="keyboardHidden|orientation|screenSize"
            android:name=".activitys.SettingsActivity"/>
        <activity             android:configChanges="keyboardHidden|orientation|screenSize"
            android:name=".activitys.SpaceDetailActivity"/>
        <activity             android:configChanges="keyboardHidden|orientation|screenSize"
            android:name=".activitys.MapActivity"/>
        <activity             android:configChanges="keyboardHidden|orientation|screenSize"
            android:name=".activitys.ReviewsActivity"/>
        <!-- Register custom receiver -->
        <receiver
            android:name=".util.gcm.SimpleGcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="co.ahuskano.something" />
            </intent-filter>
        </receiver>

        <service android:name=".util.gcm.SimpleGcmIntentService" />

        <meta-data tools:replace="android:value"
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/api_key" />

    </application>

</manifest>
